@page
@model IndexModel
@{
    ViewData["Title"] = "Hoof KY";
}


<!DOCTYPE html>

<title>Hoof KY</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<style>
    /*donation boxes*/
    .flex-container {
        display: flex;
        align-items: stretch;
        background-color: #f1f1f1;
    }

        .flex-container > div {
            background-color: lightgrey;
            color: white;
            width: 100px;
            margin: 5px;
            text-align: center;
            line-height: 25px;
            font-size: 14px;
        }

    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }

    /*the body*/

    body, html {
        height: 100%;
        line-height: 1.8;
    }

    .a {
        text-decoration: none;
    }
    /* full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url('../images/hoofkids.jpg');
        min-height: 100%;
    }
    /*the nav bar*/

    .navbar {
        
        position: fixed;
        top: 0;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        background-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }

        .navbar a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

</style>
<html>
<body>

    <!-- navbar at the top -->

    <header class="w3-left w3-bar w3-white w3-card " style="width:100%; text-align:center;">

        <a class=" navbar w3-hide-medium w3-hide-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large" style="text-decoration:none;"><i class="fa fa-th"></i> ABOUT</a>
        <a href="#horses" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="text-decoration:none;"><i class="fa fa-horse"></i> HORSES</a>
        <a href="#donate" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="text-decoration:none;"><i class="fa fa-usd"></i> DONATE</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="text-decoration:none;"><i class="fa fa-envelope"></i> CONTACT</a>




        <!-- navbar for small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
        <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
            <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" style="text-decoration:none;">ABOUT</a>
            <a href="#horses" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" style="text-decoration:none;">HORSES</a>
            <a href="#donate" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" style="text-decoration:none;">DONATE</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()" style="text-decoration:none;">CONTACT</a>
        </div>
        </div>

    </header>
    <!-- landing page-->
    <div class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-xxxlarge w3-padding-large w3-hide-small w3-black w3-text-white">HORSES OFFERING OPPORTUNITIES FOR THE FUTURE</span><br>
            <span class="w3-xxlarge w3-hide-large w3-hide-medium"></span><br>
            <span class="w3-large w3-black w3-padding-large">We connect at-risk, disadvantaged, and trauma-stricken youth to horses and let horses work their magic. </span>
            <p>
                <a href="~/images/HOOF_BROCHURE.pdf" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" target="_blank" style="text-decoration:none;">Download Our Brochure</a>
            </p>
        </div>
        <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </div>

    <!-- about us section -->
    <div class="w3-container w3-pale-blue" style="padding:75px 16px" id="about">
        <h1 class="w3-center">ABOUT HOOF</h1>

        <p class="w3-center w3-large"></p>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
            <div class="w3-quarter">
                <i class="fa fa-horse w3-margin-bottom w3-jumbo w3-center" style="color:teal;"></i>
                <p class="w3-large">Horses</p>
                <p>
                    Horses have
                    the ability to touch the human spirit in ways not found in other relationships.  They can break down
                    emotional walls and barriers of distrust, isolation, and manipulation as the young participants
                    interact with  and take stewardship of the horses.

                </p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-heart w3-margin-bottom w3-jumbo" style="color:mediumvioletred;"></i>
                <p class="w3-large">Caring Instructors</p>
                <p>
                    Participants are taught by ARIA certified instructors and trained counselors and trained counselors who provide
                    equine expertise and build caring, pro-social relationships with each young person.
                </p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-book-open w3-margin-bottom w3-jumbo" style="color:cornflowerblue;"></i>
                <p class="w3-large">Equine Education</p>
                <p>
                    HOOF KY in partnership with the Louisville Equestrian Center has developed weekly summer Equine Academies that
                    teach riding, equine care, equine physiology/psychology, and barn management in a safe and controlled environment.
                </p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-smile w3-margin-bottom w3-jumbo" style="color:orange;"></i>
                <p class="w3-large">Trust</p>
                <p>Instructors (and the horses) expect participants to work, give respect, be responsible, and believe that they can reach beyond themselves. </p>
            </div>
        </div>
    </div>

    <!-- about us/why do we provide it section -->
    <div class="w3-container w3-light-grey" style="padding:75px 16px; ">
        <div class="w3-row-padding" style="margin-left:100px;">
            <div class="w3-col m5">
                <h3>Why do we Provide it?</h3>
                <img src="images/hoofpeeps.jpg" style="height:290px; width: 450px;">

            </div>
            <br /><br />
            <div class="w3-col m6 w3-white w3-padding-16" style="height:270px; ">
                <p>

                    Today young people are challenged to make healthy decisions in a culture laden with negative influences.
                    Given the stressors of family disruption, violence, and substance abuse, many youth become distrustful and
                    build walls protecting themselves from their environments.  Many experience low self-image and a declining
                    sense of personal empowerment, hiding behind the defenses of negative behaviors, manipulation, and isolation.
                    HOOF KY understands that you can’t fool a horse; consequently, our participants quickly learn that they must
                    EARN the companionship of a horse which can positively impact their perspective and their life choices.
                </p>
            </div>
        </div>
    </div>


    <!-- about us/stats -->
    <div class="w3-container w3-row w3-center w3-light-blue w3-padding-64">
        <div class="w3-quarter">
            <span class="w3-xxlarge">13</span>
            <br>Board of Directors
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">6</span>
            <br>Years
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">354+</span>
            <br>Happy Kids
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">1500+</span>
            <br>Hours
        </div>
    </div>


    <!-- horses -->
    <div class="w3-container w3-pale-yellow w3-padding-64" id="horses">
        <div class="w3-row-padding">
            <div class="w3-col m12">
                <div class="w3-center">
                    <h1 class="w3-center">HORSES OF HOOF</h1>
                </div>
                <br />

            </div>
            <div class="w3-col m12 w3-center">


                <img src="~/images/DOMINO.jpg" style="width:280px; height:430px;">
                <img src="~/images/HUE.jpg" style="width:280px; height:430px;">
                <img src="~/images/MRED.jpg" style="width:280px; height:430px;">
                <img src="~/images/MYSTERY.jpg" style="width:280px; height:430px;">
                <img src="~/images/RALEIGH.jpg" style="width:280px; height:430px;">
                <img src="~/images/TAZ.jpg" style="width:280px; height:430px;">
                <img src="~/images/TROUBADOR.jpg" style="width:280px; height:430px;">
                <img src="~/images/ZIGGY.jpg" style="width:280px; height:430px;">
            </div>
        </div>
    </div>


    <!-- donation -->
    <div class="w3-container w3-center w3-dark-grey" style="padding:128px 16px" id="donate">
        <div class="w3-content w3-container w3-white w3-padding-16 w3-center">
            <h1>DONATE TO HOOF</h1><br />
            <div class="flex-container">
                <div class="w3-text-black w3-light-blue" style="order: 1; flex-grow: 2"><h5><br /> $80</h5><br><strong>Sponsor One Rider<br>One Day of Camp<br /><br /> <br />  </strong></div>
                <div class="w3-text-black w3-blue" style="order: 1; flex-grow: 2"><h5><br /> $160</h5><br><strong>Sponsor Two Riders<br>One Day of Camp<br /> <br /> <br /> </strong></div>
                <div class="w3-text-black w3-cyan" style="order: 1; flex-grow: 2"><h5><br /> $385</h5><br><strong>Sponsor One Rider<br>Week of Camp<br /> <br /> <br /> </strong></div>
                <div class="w3-text-black w3-aqua" style="order: 1; flex-grow: 2"><h5><br /> $770</h5><br><strong>Two Riders<br>Week of Camp<br /> <br /> <br /> </strong></div><br>

            </div><br><br>
            <div class="flex-container">
                <div class="w3-text-black w3-orange" style="order: 1; flex-grow: 2"><h5><br /> $1,000</h5><br><strong>Blue Ribbon<br />Donation<br /> <br /> <br /> </strong></div>
                <div class="w3-text-black w3-pink" style="order: 1; flex-grow: 2"><br /> <h5>$2,500</h5><br><strong>Reserve Champion<br>Donation<br /> <br /> <br /> </strong></div>
                <div class="w3-text-black w3-purple" style="order: 1; flex-grow: 2"><br /> <h5>$5,000</h5><br><strong>Champion<br>Donation<br /> <br /> <br /> </strong></div>
                <div class="w3-text-white w3-deep-purple " style="order: 1; flex-grow: 2"><br /><h5> $10,000</h5><br><strong>Grand Champion<br>Donation<br /> <br /> </strong></div>
            </div>
            <br /><br />
            <button class="w3-button w3-large w3-pale-yellow w3-hover-yellow"><a href="https://www.paypal.com/donate/?token=szmNJUPivthvsnGDpIgcwR7sEzHNsql-3d438xKwF-DEgUkHObZ1vrR3T1H0jU3hcskyHm&country.x=US&locale.x=" target="_blank" style="text-decoration:none;">Make a Donation Here</a></button>
            <br /><br />
        </div>
    </div>
    <!--contact -->
    <div class="w3-row w3-container w3-light-grey" id="contact">
        <div class="w3-container   w3-padding-16 w3-column m5" style="padding:128px 16px" ><br /><br />
            <h1 class="w3-center">CONTACT HOOF</h1>
            <p class="w3-center w3-large">Fill out the form for more information on events and volunteering.</p>
            <div class="w3-third" style="margin-top:48px; margin-left:120px;">
                <p>
                    <i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right" style="color:teal;"></i> P.O. Box 1303 | Prospect, KY  40059<br />

                </p>
                <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right" style="color:mediumvioletred;"></i> Phone: 502-558-7323 </p>
                <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right" style="color:cornflowerblue;"> </i> Email: hoofky@gmail.com</p>
                <br>
                <form action="/action_page.php" target="_blank">
                    <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name" style="width:80%;"></p>
                    <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email" style="width:80%;"></p>
                    <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject" style="width:80%;"></p>
                    <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message" style="width:80%; height:150px;"></p>
                    <p>
                        <button class="w3-button w3-white" type="submit">
                            <i class="fa fa-paper-plane" style="color:deepskyblue;"></i> SEND
                        </button>
                    </p>
                </form>
            </div>
            <br /><br /><br /><br /><br />
            <div id="googleMap" class="w3-third w3-container w3-light-grey w3-column m6" style="width:50%;height:400px;"></div>
        </div>

        <!-- map -->
        <script>
            function myMap() {
                var mapProp = {
                    center: new google.maps.LatLng(38.344580, -85.596410),
                    zoom: 14,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2XptGb_AdEwbFn7OvaC-R2G8brCjeXzE&callback=myMap"></script>
    </div>


    <!-- footer -->
    <footer class="w3-center w3-black w3-padding-16">
        <br /><br />
        <a href="#home" class="w3-button w3-white" style="text-decoration:none; "><i class="fa fa-arrow-up w3-margin-right" style="color:teal; "></i>Go to Top</a>
        <div class="w3-xlarge w3-section">


        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="teamGallop" target="_blank" class="w3-text-white w3-hover-text-green">Team Gallop</a></p>
    </footer>

    <script>

        // sidebar option
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // use the close button for sidebar
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>
</html>

